 <!-- Begin: Hero Section -->
 <section class="hero-section">
    <div class="container">
      <h1 class="mb-4">About InsuredMine & Our Team</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sunt perferendis harum hic consequuntur, aspernatur dolor, modi praesentium, inventore quaerat possimus placeat velit explicabo dignissimos nisi minus aliquam obcaecati odio!</p>
    </div>
    <figure class="mb-0 text-center">
      <img src="./assets/images/hero.jpg" alt="Hero-image" class="w-100 img-fluid" />
    </figure>
  </section>
  <!-- End: Hero Section -->
  
  <!-- Begin: About Section -->
  <section class="about-section">
    <div class="container">
      <div class="mb-md-5 mb-4">
        <div class="row align-items-center">
          <div class="col-md-4">
            <div class="section-title mb-md-0 mb-3">
              <h2>Building awesome,</h2>
              <h2>No need to code!</h2>
            </div>
          </div>
          <div class="col-md-8">
            <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores reiciendis blanditiis eius consequatur adipisci rem reprehenderit at voluptatem odit. Impedit fugiat aliquam cum debitis soluta facere aperiam ipsa, blanditiis quisquam?</p>
          </div>
        </div>
      </div>
      <h6>KleraTM is a software products and services company focused on creating solutions that deliver intelligence from data, unlike even before. Our products and services are designed to safeguard, empower and enrich enterprises, so that they can deliver exceptional value to their customers.</h6>
    </div>
  </section>
  <!-- End: About Section -->
  
  <!-- Begin: Our-Story Section -->
  <section class="our-story-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-5">
          <h2 class="section-heading"><strong>Our Story!</strong> How we had Ideate this as Brand.</h2>
          <p class="section-desc">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</p>
          <h3>and till now....!!</h3>
          <div class="counter">
            <div class="row">
              <div class="col-md-4">
                <div class="block block-1">
                  <h2>70+</h2>
                  <p>Created Intelligent apps with ML/AI</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="block block-1">
                  <h2>5.2K+</h2>
                  <p>Happy Customers With 5-star Rating</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="block block-1">
                  <h2>45+</h2>
                  <p>Members on our Team</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="img-wrapper">
            <figure class="overlap-img-1 mb-0">
              <img src="./assets/images/img-1.jpg" alt="overlap img-1" class="img-fluid">
            </figure>
            <figure class="overlap-img mb-0">
              <img src="./assets/images/img-2.jpg" alt="still image" class="img-fluid">
            </figure>
            <figure class="overlap-img-2 mb-0">
              <img src="./assets/images/img-3.jpg" alt="overlap img-2" class="img-fluid">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End: Our-Story Section -->
  
  <!-- Begin: CEO/Founder Section -->
  <section class="founder-section bg-white">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <figure class="mb-0">
            <img src="./assets/images/img-4.jpg" alt="CEO/Founder" class="img-fluid">
          </figure>
        </div>
        <div class="col-lg-6">
          <div class="ceo-quote">
            <span class="material-icons bg-quote">format_quote</span>
            <h2><q>This is our mission/vision statement that was imagine by CEO or Founders. Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in piece of classical Latin Literature.</q></h2>
            <p class="mb-0"><strong>Patrik Johnson</strong></p>
            <p class="mb-0">CEO & Founder, Klera</p>
          </div>  
        </div>
      </div>
    </div>
  </section>
  <!-- End: CEO/Founder Section -->
  
  <!-- Begin: Leaders Section -->
  <section class="leaders-section text-center">
    <div class="container">
      <h2>Meet the leaders driving our amazing teams</h2>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <figure class="figure mb-5">
            <img src="./assets/images/img-5.jpg" alt="" class="figure-img img-fluid rounded mb-4">
            <figcaption class="figure-caption">
              <p class="mb-2"><strong>Smith Karter</strong></p>
              <p class="mb-0">Project Manager, Klera</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-lg-3 col-md-6">
          <figure class="figure mb-5">
            <img src="./assets/images/img-6.jpg" alt="" class="figure-img img-fluid rounded mb-4">
            <figcaption class="figure-caption">
              <p class="mb-2"><strong>John Smith</strong></p>
              <p class="mb-0">Director of Sales, Klera</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-lg-3 col-md-6">
          <figure class="figure mb-5">
            <img src="./assets/images/img-7.jpg" alt="" class="figure-img img-fluid rounded mb-4">
            <figcaption class="figure-caption">
              <p class="mb-2"><strong>Maria Smoke</strong></p>
              <p class="mb-0">General Manager, Klera</p>
            </figcaption>
          </figure>
        </div>
        <div class="col-lg-3 col-md-6">
          <figure class="figure mb-5">
            <img src="./assets/images/img-8.jpg" alt="" class="figure-img img-fluid rounded mb-4">
            <figcaption class="figure-caption">
              <p class="mb-2"><strong>Tim Lee</strong></p>
              <p class="mb-0">Product Designer, Klera</p>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
  <!-- End: Leaders Section -->
  
  <!-- Begin: Footer Section -->
  <footer class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <div class="row">
            <div class="col-lg-4">
              <div class="text-wrapper">
                <h2>Check the insights <span>What we are doing?</span></h2>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="types type-1">
                <span class="material-icons">ondemand_video</span>
                <div class="text-block">
                  <p><strong>Webinars</strong></p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
              </div>
              <div class="types type-2">
                <span class="material-icons-outlined">description</span>
                <div class="text-block">
                  <p><strong>Datasheet</strong></p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
              </div>
              <div class="types type-3">
                <span class="material-icons-outlined">insert_photo</span>
                <div class="text-block">
                  <p><strong>Flyers</strong></p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="types type-4">
                <span class="material-icons-outlined">book</span>
                <div class="text-block">
                  <p><strong>eBooks</strong></p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
              </div>
              <div class="types type-5">
                <span class="material-icons-outlined">signal_cellular_alt</span>
                <div class="text-block">
                  <p><strong>Infographics</strong></p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
              </div>
              <div class="types type-6">
                <span class="material-icons-outlined">find_in_page</span>
                <div class="text-block">
                  <p><strong>Case studies</strong></p>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- End: Footer Section -->